* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*Reusable CSS*/

.grid {
  display: grid;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
}

.container {
  max-width: 110rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
