@media (max-width: 71em) {
  .grid--4-cols {
    grid-template-columns: 1fr 1fr;
    row-gap: 8rem;
  }
  .container {
    max-width: 70rem;
    padding: 0;
  }

  .card {
    height: 50rem;
  }
}

@media (max-width: 44em) {
  .grid--4-cols {
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
  }
  .container {
    max-width: 50rem;
    padding: 0;
  }

  .card:hover {
    transform: none;
  }
}

@media (max-width: 32em) {
  .grid--4-cols {
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }
  .container {
    max-width: 30rem;
    padding: 0;
  }

  .card:hover {
    transform: none;
  }
}
